
@media screen and (max-width: 767px) {
    #home-service .card-img{
      width: 320px!important;
      margin: 0px auto!important;
      display: block;
    }
  }
@media screen and (max-width: 450px) {
    #home-service .card-img{
      width: 280px!important;
    }
  }