/* CAROUSEL CAPTION TEXT POSITION CAHNGED */
#home-carousel .carousel-caption {
    bottom: 25%;
}
#home-carousel .carousel-item-1 .carousel-caption {
    right: 0;
    left: 15%;
    text-align: left;
}
#home-carousel .carousel-item-2 .carousel-caption {
    right: 0;
    left: 0;
}
#home-carousel .carousel-item-3 .carousel-caption {
    right: 15%;
    left: auto;
    text-align: right;
}
@media screen and (max-width: 1024px) {
  #home-carousel .carousel-caption {
    bottom: 15%;
  }
}
@media screen and (max-width: 992px) {
    #home-carousel h1{
      font-size: 2.5rem;
    }
    #home-carousel h5{
      font-size: 1rem;
    }
    #home-carousel button{
      font-size: .8rem;
    }
  }
@media screen and (max-width: 768px) {
  #home-carousel .carousel-caption {
    bottom: 20%;
  }  
  #home-carousel img{
      width: auto!important;
    }
    #home-carousel h1{
      font-size: 2.2rem;
    }
    #home-carousel h5{
      font-size: 1rem;
    }
  }
@media screen and (max-width: 470px) {
    #home-carousel h1{
      font-size: 1.5rem;
    }
  }