/* GLOBAL CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif!important;
  overflow-x: hidden!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-succes{
  color:#46d3ab!important;
}
.btn{
  font-weight: 500!important;
}
.btn-success{
  background-color:#46d3ab!important;
  transition: .3s;
  border-color: #58d2b0!important;
}
.btn-success:hover{
  background-color:#161616!important;
  border-color:#161616!important;
}
button:focus{
  outline:none;
  box-shadow: none!important;
}
a{
  font-weight: 500;
  color: #161616!important;
  padding-left: 0px!important;
  padding-right: 0px!important;
  margin-right: 15px;
}
.active{
  color: #58d2b0!important;
}
.card:hover{
  box-shadow: 0 .5rem 1rem #52927e33!important;
  transition: .2s ease-in-out;
}
.card:hover .card-title{
  color: #58d2b0;
  transition: .2s ease-in-out;
}

.footer a{
  padding: 2px;
  font-weight: 400;
  font-size: 14px;
}

/* SERVOCE DETAILS CARD STYLE */
#service-details .hover:hover{
  box-shadow: 0 .5rem 1.5rem #57575733!important;
  border: none!important;
  transition: .3s ease-out;
}
#service-details .hover:hover img{
  transform: scale(0.8);
  transition: .3s ease-out;
}
#service-details .img-width{
  width: 60%;
  text-align: center;
}
/* MEDIA QUERY CSS */
@media screen and (max-width: 991px) {
  #service-details .img-width{
    width: 70%;
  }
  #service-details button{
    font-size: 1rem;
  }
  .not-found img{
    width: 65%!important;
  }
}
@media screen and (max-width: 768px) {
  #about-us .about{
    width: 100%!important;
  }
  #service-details .card-description{
    width: 100%!important;
  }
  .not-found img{
    width: 70%!important;
  }
}
@media screen and (max-width: 577px) {
  #service-details .img-width{
    width: 75%;
  }
  .not-found img{
    width: 90%!important;
  }
}